{% extends "InterimRecruteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block interimrecrutebundle_body %}

{% if is_granted('ROLE_AGENT') or  is_granted('ROLE_USER') or  is_granted('ROLE_SOCIETE') %}
<h1> Liste des Annonces </h1>

    
    <table  id="table_id" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Titre</th>
                <th>Description</th>
                 <th>Date Limite</th>
                <th>Date Fonction</th>
                <th>Salaire</th>
                <th>Tache</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
         <tr>
         <ul>
        <li>
            <a href="{{ path('poste_new') }}">
               Nouveau Job
            </a>
        </li>
    </ul>
    </tr> 
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('poste_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.dateLimite |date('Y-m-d')}}</td>
                <td>{{ entity.dateFonction |date('Y-m-d')}}
                </td><td>{{ entity.salaire }}</td>
                <td>{{ entity.tache }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('poste_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('poste_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        
        </tbody>
    </table>
    <a href="{{ path('poste_new' )}}"> Nouveau </a>
     {% endif %}
     
      <script>
    
    $(document).ready( function () {
    $('#table_id').dataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        }, {
            targets: [ 4 ],
            orderData: [ 4, 0 ]
        } ]
    } );
    
} );


    </script>
    
    {% endblock %}
