{% extends "RecoverErecoverBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block recovererecover_body %}
    <h1>Section list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Fax</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('section_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.fax }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('section_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('section_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="btn btn-primary btn-large" href="{{ path('section_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
