{% extends "InterimRecruteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block interimrecrutebundle_body %}
    <h1>Personne list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Datenaissance</th>
                <th>Lieunaissance</th>
                <th>Nationalite</th>
                <th>Numeroidentite</th>
                <th>Numpassport</th>
                <th>Sexe</th>
                <th>Situationmatrimoniale</th>
                <th>Nbfemme</th>
                <th>Nbenfant</th>
                <th>Region</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Civilite</th>
                <th>Adresse</th>
                <th>Telfixe</th>
                <th>Telmobile</th>
                <th>Fax</th>
                <th>Email</th>
                <th>Numpermisconduire</th>
                <th>Numportarme</th>
                <th>Niveauetude</th>
                <th>Artmartial</th>
                <th>Profession</th>
                <th>Qualification</th>
                <th>Langue</th>
                <th>Experience</th>
                <th>Formation</th>
                <th>Competence</th>
                <th>Centreinteret</th>
                <th>Poste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('personne_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.nom }}</td>
                <td>{% if entity.dateNaissance %}{{ entity.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.lieuNaissance }}</td>
                <td>{{ entity.nationalite }}</td>
                <td>{{ entity.numeroIdentite }}</td>
                <td>{{ entity.numPassport }}</td>
                <td>{{ entity.sexe }}</td>
                <td>{{ entity.situationMatrimoniale }}</td>
                <td>{{ entity.nbFemme }}</td>
                <td>{{ entity.nbEnfant }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.ville }}</td>
                <td>{{ entity.pays }}</td>
                <td>{{ entity.civilite }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.telFixe }}</td>
                <td>{{ entity.telMobile }}</td>
                <td>{{ entity.fax }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.numPermisConduire }}</td>
                <td>{{ entity.numPortArme }}</td>
                <td>{{ entity.niveauEtude }}</td>
                <td>{{ entity.artMartial }}</td>
                <td>{{ entity.profession }}</td>
                <td>{{ entity.qualification }}</td>
                <td>{{ entity.langue }}</td>
                <td>{{ entity.experience }}</td>
                <td>{{ entity.formation }}</td>
                <td>{{ entity.competence }}</td>
                <td>{{ entity.centreInteret }}</td>
                <td>{{ entity.poste }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('personne_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('personne_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('personne_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
