{% extends "RecoverErecoverBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block recovererecover_body %}
    <h1>Menu list</h1>
	<hr>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Menu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('menu_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.menu }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('menu_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('menu_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('menu_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
