{% extends "InterimRecruteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block interimrecrutebundle_body %}
    <h1>CentreInteret list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Libelle</th>
                <th>Commentaire</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('centreinteret_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.commentaire }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('centreinteret_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('centreinteret_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('centreinteret_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
