{% extends "InterimRecruteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block interimrecrutebundle_body %}
    <h1>Experience</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Intituleposte</th>
                <td>{{ entity.intitulePoste }}</td>
            </tr>
            <tr>
                <th>Entreprise</th>
                <td>{{ entity.entreprise }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ entity.categorie }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ entity.lieu }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('experience') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('experience_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
