{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Employe list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Salairenet</th>
                <th>Dateembauche</th>
                <th>Nbrejourconge</th>
                <th>Matricule</th>
                <th>Fonction</th>
                <th>Datefincontrat</th>
                <th>Datedebutcontrat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('employe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.salairenet }}</td>
                <td>{% if entity.dateEmbauche %}{{ entity.dateEmbauche|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.nbreJourConge }}</td>
                <td>{{ entity.matricule }}</td>
                <td>{{ entity.fonction }}</td>
                <td>{% if entity.datefinContrat %}{{ entity.datefinContrat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datedebutContrat %}{{ entity.datedebutContrat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('employe_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('employe_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('employe_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
